<!DOCTYPE html>
<html>
    <head>
        <title>Salisu Mahadi Data</title>
    </head>
    
    <body>
        <h1>Welcome to S Mahadi Data</h1>

        <p>We provide:⤵</p>
        <ul>
            <li>Data subscription</li>
            <li>Artime</li>
            <li>Bill payment</li>
            <li>Electric services</li>
        </ul>

        <p>Contact us @:</p>
        <p>Email: houzsaad@gamil.com</p>
        <p>Phone: 09065379803</p>

        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'register' %}">Register</a>
    </body>
</html>